[flake8]
exclude =
    .venv,
    __pycache__,
    .git,
    .pytest_cache,
    data,
    models

max-line-length = 127

ignore =
    E501,
    E203,
    W291,
    W292,
    W293,
    E303,
    E265,
    E251,
    E231


#pour ne pas avoir un controle trop stricte 